<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="model.Auction" alias="Auction" />
		<typeAlias type="model.Bid" alias="Bid" />
		<typeAlias type="model.Wishseller" alias="Wishseller" />
		<typeAlias type="model.Member" alias="Member" />
		<typeAlias type="model.Cash" alias="Cash" />
		<typeAlias type="model.Review" alias="Review" />
		<typeAlias type="model.Amessage" alias="Amessage" />
		<typeAlias type="model.Penalty" alias="Penalty" />
		<typeAlias type="model.Category" alias="Category" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				 <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
				<property name="username" value="gauction" />
				<property name="password" value="1111" />
			</dataSource>
		</environment>
	</environments>
	<mappers>

		<mapper resource="mybatis/Auction.xml" />
		<mapper resource="mybatis/Cash.xml" />
		<mapper resource="mybatis/Member.xml" />
		<mapper resource="mybatis/Review.xml" />
		<mapper resource="mybatis/Amessage.xml" />
		<mapper resource="mybatis/Penalty.xml" />
		<mapper resource="mybatis/Category.xml" />
	</mappers>

</configuration>

